:root {
  --border-radius: 12px;
  --logo-color: #5D5D6D;
  --bg-secondary: #F3F5F6;
  --bg-primary: #F0F0F5;
  --text-dark: #737380;
  --shapes-dark: #09090A;
  --text-dark-2: #41414D;
  --delete-color: #DE3838; 
  --orange-low: #FFA585;
  --shapes: #DCE2E6;
  --secondary-text: #617480;
  --border-color: #A8A8B3;
  --success-color: #51B853
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
.container{
  padding: 0 20px; 
  margin-bottom: 50px;
}

/* Estilos para largura de tela maior que 1200px */
@media (min-width: 1201px) {
  .container {
    max-width: 1166px;
    margin: 0 auto; /* Centralizar o conteúdo */
    margin-bottom: 50px;
  }
}
